<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Notion AI My Mind Options</title>
		<!-- <script src="{{url_for('static', filename='options.js')}}"></script> -->
	</head>
	<body>
		<center>
			<h1><img src="{{url_for('static', filename='icon.png')}}" width="30px" style="margin-right: 10px;"/>Notion AI My Mind</h1>
			<form name="settings" action="{{ url_for('handle_data') }}" method="post">
				<h2>Options :</h2>
				<p>Notion My Mind Database URL: (Please set the https:// at start)</p> <input type="text" name="notion_url" id="notion_url" placeholder="Enter the URL"/>
        <p>Notion TokenV2: (This can be obtained looking at the cookies)</p> <input type="text" name="notion_token" id="notion_token" placeholder="Enter the Token v2"/>
		<p>Clarifai API key: (This can be obtained for free at Clarifai website)</p> <input type="text" name="clarifai_key" id="clarifai_key" placeholder="Enter the Clarifai API key"/>
		<input type="submit">
      </form>
		</center>
	</body>
</html>