 
.button {
    background-color: #4CAF50; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 7px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 16px;
}
