/*
 * Notification Component
 */
 #naimm-notification {
	font-family: Avenir, sans-serif !important;
	position: fixed;
	right: 30px;
	top: 30px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	width: 350px;
	box-sizing: border-box;
	user-select: none;

	animation: naimmNotificationSlideIn 300ms ease-out forwards;
	animation-delay: 300ms;
	opacity: 0;
	will-change: opacity, transform;
	z-index: 2147483647;
}

#naimm-notification[status="error"] .naimm-notification-inner {
	border: 2px solid #FF0000 !important;
}

#naimm-notification[status="limited"] .naimm-notification-inner {
	background: #FF5924 !important;
	border: none !important;
}
#naimm-notification[status="success"] .naimm-notification-inner {
	border: 2px solid coral!important;
}

#naimm-notification[closing="true"] {
	pointer-events: none !important;
	animation: naimmNotificationSlideOut 300ms ease-out forwards;
}

#naimm-notification .naimm-notification-wrap {
	overflow: hidden;
	border-radius: 4px;
}

#naimm-notification .naimm-notification-inner {
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background: #FFFFFF;
	color: #000000 !important;
	position: relative;
	z-index: 3;
	min-height: 90px;
	padding: 20px;
	box-sizing: border-box;
	border: 1px solid #EFEFEF;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

#naimm-notification .naimm-notification-inner img {
	width: 30px;
	margin: 0 20px;
}

#naimm-notification .naimm-notification-inner span {
	color: inherit !important;
	font-family: Avenir, sans-serif !important;
	font-weight: normal !important;
	font-size: 20px !important;
	line-height: 26px !important;
	letter-spacing: 0 !important;
	text-transform: none !important;
}


#naimm-notification .naimm-notification-tags {
	position: relative;
	z-index: 2;
	background: #F0F2F5;
	border-radius: 0 0 4px 4px;
 /*  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15); */
  
  	overflow-y: hidden;
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 22px 15px 12px;
	margin-top: -10px;
}

#naimm-notification .naimm-notification-tags input {
	font-family: Avenir, sans-serif !important;
	border-top: none !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 0 !important;
	outline: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
	width: 100% !important;
	min-width: 60% !important;
	-webkit-appearance: none !important;
	box-shadow: none !important;

	color: inherit !important;
	font-family: Avenir, sans-serif !important;
	font-weight: normal !important;
	font-size: 18px !important;
	line-height: 30px !important;
	letter-spacing: 0 !important;
	color: #000000 !important;
}

#naimm-notification .naimm-notification-tags input::placeholder {
	color: #414956 !important;
}

#naimm-notification .naimm-tagstorage {
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}

#naimm-notification .naimm-notification-tag {
	background: #E3E7EE;
	text-transform: lowercase;
	padding: 0 30px 0 20px;
	border-radius: 15px;
	position: relative;
	cursor: pointer;

	font-family: Avenir, sans-serif !important;
	font-weight: normal !important;
	font-size: 15px !important;
	line-height: 30px !important;
	letter-spacing: 0 !important;
	color: #748297 !important;
	white-space: nowrap !important;
}

#naimm-notification .naimm-notification-tag:not(:last-child) {
	margin-right: 5px;
}

#naimm-notification .naimm-notification-tag-icon {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	background: white;
	border-radius: 50%;
}

#naimm-notification .naimm-notification-tag-icon::before,
#naimm-notification .naimm-notification-tag-icon::after {
	content: "";
	position: absolute;
	left: 2px;
	top: 6px;
	background: grey;
	width: 8px;
	height: 1px;
	transform-origin: center;
}

#naimm-notification .naimm-notification-tag-icon::before {
	transform: rotate(45deg);
}

#naimm-notification .naimm-notification-tag-icon::after {
	transform: rotate(135deg);
}

/*
 * Suggestions
 */

 #naimm-notification .naimm-notification-suggestions {
	position: relative;
	z-index: 1;
	background: #F0F2F5;
	border-radius: 0 0 4px 4px;
	margin-top: -10px;
	display: none;
}

#naimm-notification .naimm-notification-suggestions-title {
	padding: 30px 20px 15px !important;
	margin: 0 !important;

	font-family: Avenir, sans-serif !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 16px !important;
	letter-spacing: 0 !important;
	color: #B3BCCA !important;
	white-space: nowrap !important;
	text-transform: uppercase !important;
}

#naimm-notification .naimm-notification-suggestions-storage {
	border-radius: 0 0 4px 4px;
	overflow: hidden;
}

#naimm-notification .naimm-notification-suggestion {
	padding: 0 20px !important;
	margin: 0 !important;
	cursor: pointer !important;

	font-family: Avenir, sans-serif !important;
	font-weight: normal !important;
	font-size: 18px !important;
	line-height: 36px !important;
	letter-spacing: 0 !important;
	color: #748297 !important;
	white-space: nowrap !important;
}

#naimm-notification .naimm-notification-suggestion:hover,
#naimm-notification .naimm-notification-suggestion[focus="true"] {
	background: #DEE3EA !important;
	color: #000000 !important;
}
 
/*
 * Animations
 */

@keyframes naimmNotificationSlideIn {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes naimmNotificationSlideOut {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}


#naimm-notification .naimm-notification-tags-button-div {
	position: relative;
	z-index: 1;
	background: #F0F2F5;
	border-radius: 0 0 4px 4px;
	text-align: center;
}

/*edit*/


#naimm-notification .naimm-notification-edit {
  position: relative;
  z-index: 1;
  background: #F0F2F5;
  border-radius: 4px;
  text-align: center;
}

#naimm-notification .naimm-tags-update-button {
	margin: 10px;
  background-color: #414956;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#naimm-notification .naimm-editstorage input {
	font-family: Avenir, sans-serif !important;
	border-top: none !important;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 0 !important;
	outline: 0 !important;
	background: none !important;
	min-width: 80% !important;
	-webkit-appearance: none !important;
	box-shadow: none !important;
  
	color: inherit !important;
	font-family: Avenir, sans-serif !important;
	font-weight: normal !important;
	font-size: 18px !important;
	line-height: 30px !important;
	letter-spacing: 0 !important;
	color: #000000 !important;
}

#naimm-notification .naimm-editstorage input::placeholder {
	color: #414956 !important;
}

#naimm-notification .naimm-edit-title {
	padding: 30px 20px 15px !important;
	margin: 1px !important;
  
	font-family: Avenir, sans-serif !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 16px !important;
	letter-spacing: 0 !important;
	color: #B3BCCA !important;
	white-space: nowrap !important;
	text-transform: uppercase !important;
}


#naimm-notification .naimm-edittorage {
	display: flex;
	flex-direction: column;
	border-radius: 0 0 4px 4px;
	overflow: hidden;
}

.naimm-notification-edit[closing="true"] {
	pointer-events: none !important;
  	display: none;
}

.naimm-notification-edit {
	display: block;
}

.edit_button {
  margin: 10px;
  background-color: #414956;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#loading-edit-icon[loading="false"] {
	pointer-events: none !important;
  	display: none;
}

#loading-edit-icon[loading="true"] {
	pointer-events: none !important;
  	display: block;
}

#loading-edit-icon {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  	margin-left: auto;
 	margin-right: auto;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}  


#naimm-edit-status {
	font-family: Avenir, sans-serif !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 16px !important;
	letter-spacing: 0 !important;
	color: #B3BCCA !important;
	white-space: nowrap !important;
	text-transform: uppercase !important;
}
