/*
 * Notification Component
 */
 #collection-notification {
	font-family: Avenir, sans-serif !important;
	position: fixed;
	right: 30px;
	top: 30px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 4px 4px 0px 0px; 
	/*width: 350px;*/
	width: auto;
	box-sizing: border-box;
	user-select: none;

	animation: caimmNotificationSlideIn 300ms ease-out forwards;
	animation-delay: 300ms;
	opacity: 0;
	will-change: opacity, transform;
	z-index: 2147483647;
}

#collection-notification[status="error"] .collection-notification-inner {
	border: 2px solid #FF0000 !important;
}

#collection-notification[status="limited"] .collection-notification-inner {
	background: #FF5924 !important;
	border: none !important;
}
#collection-notification[status="success"] .collection-notification-inner {
	border: 2px solid coral!important;
}

#collection-notification[hide="true"] {
	pointer-events: none !important;
	animation: caimmNotificationSlideOut 300ms ease-out forwards;
}


.collection-button-div[show="false"] {
	display: none;
}

#collection-notification .collection-notification-wrap {
	overflow: hidden;
	border-radius: 4px 4px 0px 0px; 
}

#collection-notification .collection-notification-inner {
	border-radius: 4px 4px 0px 0px; 
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background: #FFFFFF;
	color: #000000 !important;
	position: relative;
	z-index: 3;
	min-height: 90px;
	padding: 20px;
	box-sizing: border-box;
	border: 1px 1px 0px 0px solid #EFEFEF;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

/* #collection-notification .collection-notification-inner img {
	width: 30px;
	margin: 0 20px;
} */

#collection-notification .collection-notification-inner span {
	color: inherit !important;
	font-family: Avenir, sans-serif !important;
	font-weight: normal !important;
	font-size: 20px !important;
	line-height: 26px !important;
	letter-spacing: 0 !important;
	text-transform: none !important;
}


/*
Buttons
*/
.container-image {
	position: relative;

	display: block;
}

.btn-collection {
	/* width: auto;
	height: auto; */

	background-color: #fff;
	border-radius: 4px;
	border: 0 solid coral;
	background-color: transparent;

	font-size: 1rem;
	color: rgb(255, 255, 255);
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
	text-shadow: 0 1px rgba(255,255,255,.4);
}

.btn-collection:hover {
	opacity: 0.5;
	background-color: transparent;
	border: 0 solid coral;
}

.btn-img {
	position: relative;
	border-radius: 4px;
	border: 2px solid coral;
	display: block;
	
	width: 100px;
	height: 100px;
}

.collection-button-div {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 15px;
	grid-column-gap: 15px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 

.collection-buttons-settings {
  border-radius: 0px 0px 4px 4px; 
  
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 10px;
  
  z-index: 3; 
  min-height: 5px;
  padding: 10px;
  box-sizing: border-box; 
	
  cursor: pointer;
  
} 

.btn-settings {
  width: 180px;
  
  opacity: 1;
  color: -internal-light-dark(black, white);
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  border-radius: 4px;
  border: 0px solid coral;
}

.btn-settings:hover {
  opacity: 1;
  
  border-radius: 4px;
	border: 1px solid coral;
}

/*
 * Animations
 */

@keyframes caimmNotificationSlideIn {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes caimmNotificationSlideOut {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}
