# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask==1.1.2
gunicorn==20.0.4
clarifai-grpc==6.7.1
Flask==1.1.2
notion==0.0.28
requests==2.24.0
urllib3==1.25.10
validators==0.17.1
Werkzeug==1.0.1
tensorflow
keras
Pillow
pillow